<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!-- <div class="col-xl-3 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4>about us</h4>
                <p>Heaven fruitful doesn't over the lesser days appear cree ping seasons so behold bea Place likeness female form. Lesser Was green image lights fowl.</p>
            </div> -->
            <div class="col-xl-3 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4>Contact Info</h4>
                <ul>
                    <li><p>Address :No. 25, Koforidua street, Zone 2, Wuse. FTC, Nigeria.</p></li>
                    <li><p>Phone : +2348142319913</p></li>
                    <li><p>Email : babsvanbrahms@gmail.com.com</p></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4>Important Link</h4>
                <ul>
                    <li><a href="https://ib-resume.firebaseapp.com/">Our  Main Page</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4>Newsletter</h4>
                <p>Sign up to get the latest event update in nigeria</p>
                <div class="form-wrap" id="mc_embed_signup">
                    <form action="/newsletter" method="post" class="form-inline">
                        <input class="form-control" name="email" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" required="" type="email">
                        <button class="click-btn btn btn-default text-uppercase"><i class="ti-arrow-right"></i></button>
                        <!-- <div style="position: absolute; left: -5000px;">
                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                        </div> -->

                        <div class="info"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright_text">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="copyright_part">
                        <p class="footer-text m-0">Copyright © 2019 All rights reserved <span class="px-2">|</span> This template is Made with <a href="http://colorlib.com"><i class="ti-heart"></i></a> by <a href="http://colorlib.com">Colorlib</a></p>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-right">
                    <div class="footer-social">
                        <a target="_blank" href="https://web.facebook.com/Prepvent-100959051466253/?modal=admin_todo_tour"><i class="ti-facebook"></i></a>
                        <a target="_blank" href="https://twitter.com/prepvent"> <i class="ti-twitter"></i> </a>
                        <a target="_blank" href="https://www.instagram.com/prepventgram/?hl=en"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>