<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Helping small and medium organization to grow intergrating online and ofline marketing that position their brands to scale and earn return on investment (ROI)">

    <meta property="og:type" content="website" />

    <meta property="og:title" content="Stride Inc. Marketing" />

    <meta property="og:description" content="Helping small and medium organization to grow intergrating online and ofline marketing that position their brands to scale and earn return on investment (ROI)" />

    <meta property="og:image" content="http://strideincmarketing.com/img/logo.png" />

    <meta property="og:url" content="http://strideincmarketing.com" />

    <meta property="og:site_name" content="Stride Inc. Marketing" />


    <meta name="twitter:title" content="Stride Inc. Marketing">

    <meta name="twitter:description" content="Helping small and medium organization to grow intergrating online and ofline marketing that position their brands to scale and earn return on investment (ROI)">

    <meta name="twitter:image" content="http://strideincmarketing.com/img/logo.png">

    <!-- <meta name="twitter:site" content="@USERNAME">

    <meta name="twitter:creator" content="@USERNAME"> -->
    <title>Stride Inc. Marketing</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
