<section class="review_part padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section_tittle text-center">
                    <h2>Testimonials</h2>
                    <!-- <p>Winged hath had face creepeth abundantly so shall </p> -->
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-xl-5">
                <!-- THUMBNAILS -->
                <div class="slider-nav-thumbnails">
                    <div class="slider-thumbnails">
                        <img src="/img/tina.jpg" alt="slideimg" class="image">
                    </div>
                    <div class="slider-thumbnails">
                        <img src="/img/najeeb.jpg" alt="slideimg" class="image">
                    </div>
                    <!-- <div class="slider-thumbnails">
                        <img src="img/client/client_1.png" alt="slideimg" class="image">
                    </div>
                    <div class="slider-thumbnails">
                        <img src="img/client/client_1.png" alt="slideimg" class="image">
                    </div> -->
                </div>
            </div>
            <div class="col-lg-10">
                <!-- MAIN SLIDES -->
                <div class="slider">
                    <div data-index="1">
                        <div class="client_review_text text-center">
                            <img src="img/icon/quate.svg" class="quate_icon" alt="quate">
                            <p>I did'nt know i've not been optimizing my social media usage, Stride Inc Marketing came along and my food delivery businesshas been booming ever  since . I recently resigned from my 9-5 for more dedication.</p>
                            <h3>Mrs. Toluse</h3>
                            <!-- <h5>Manager, Vision</h5> -->
                        </div>
                    </div>
                    <div data-index="2">
                        <div class="client_review_text text-center">
                            <img src="img/icon/quate.svg" class="quate_icon" alt="quate">
                            <p>I have more orders from my website from different states now, SIM has been so helpful</p>
                            <h3>Najeeb</h3>
                            <!-- <h5>C.E.O., Baz</h5> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-app-7 custom-animation4"><img src="img/animate_icon/icon_4.png" alt=""></div>
        <div class="hero-app-3 custom-animation2"><img src="img/animate_icon/icon_8.png" alt=""></div>
        <div class="hero-app-8 custom-animation"><img src="img/animate_icon/icon_3.png" alt=""></div>
    </div>
</section>