
<!DOCTYPE html>
<html>
<head>
	<title>CMS Login</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/cms.css">
	<script type="text/javascript" src="ckeditor/ckeditor.js"></script> 
</head>
<body>
	<nav class="navbar navbar-inverse ">
		<!-- navbar-fixed-top =>for fixed header -->
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Skinstitution</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
			
			</div>
		</div>
	</nav>

	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center"> Admin Area <small>Account login</small></h1>
				</div>
			</div>
		</div>
	</header>

	

	<section id="main">
		<div class="container">
			<div class="row"> 
				
				<div class="col-md-4 col-md-offset-4">
					
					<form id="login" action="/cms/" method="post" class="well">
						<h3 style="color: red"><%=msg %></h3>
						<div class="form-group">
							<label>Token name</label>
							<input type="text" name="name" autocomplete="off" class="form-control" placeholder="Enter E-mail">
						</div>

						<div class="form-group">
							<label>Token</label>
							<input type="password" name="token" autocomplete="off" class="form-control" placeholder="Enter Password">
						</div>

						
						<!-- btn-block makes it strech  -->
						<button type="submit" class="btn btn-default btn-block ">Submit</button>
					</form>
		

					
				</div>
			</div>
		</div>
	</section>


	<footer id="footer">
		<p class="text-center"> Copyright Skinstitution &copy;</p>
	</footer>




<script type="text/javascript" src="/jquery/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>